

.body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.commentbox {
  width: 90vw;
  color: black;
  background-color: #e4f2f7;
  border-radius: 15px;
  padding: 25px 20px;
  margin: 30px auto;
}
.commentform {
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 32px;
  padding: 16px;
}

.comment {
  border-top: 2px solid $dark-grey;
  border-radius: 15px;
}

.commentheader {
  font-size: 23px;
  font-weight: 300;
}

.commentbody {
  font-size: 14px;
  font-weight: 350;
  background-color: #fffcf7;
  border: 1px grey solid;
  border-radius: 15px;
  padding: 15px;
}
.commentfooter {
}


.button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;
}


.commentformfields {
  margin-bottom: 0.25rem;
}
.commentformactions {

}
.commentcount {
  color: $dark-grey;
}
.commentreveal {
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: $nc-blue;
  color: black;
}

.commentfooterdelete {
  padding: 0.2rem 0;
  color: $dark-grey;
  text-decoration: none;
}
