.container {
  background-color: green;
}

.person {
  border: 5px solid red;
}

.card {
  margin:100px;
  height:520px;
  flex: 1 1 100%;
  background-color: white;
}

.blockdimage {
  height:270px;
  width: 100vw;
  object-fit: cover;
}

.photo {
    z-index: 1;
    background: pink;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    top:190px;
    align-items: center;
    margin: 0 auto;
    background-size: cover;
    object-fit: cover;
}

.name {
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  position:relative;
  margin-top: -400px;
  top:500px;
}
